/* foundation framework */

:root {
  --cor-base-0: rgb(126, 217, 86);
  --cor-case-1: rgb(52, 89, 37);
  --cor-base-2: rgb(176, 223, 155);
  --cor-base-3: rgb(71, 89, 63);
  --cor-base-4: rgb(96, 166, 67);
}

*, 
*::before, 
*::after {
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  margin: 0;
}

section {
  padding-top: 100rem;
  padding-bottom: 100rem;
}