/* 
  https://developer.mozilla.org/pt-BR/docs/Web/CSS/:not
*/

:root {
  --cor-base-0: rgb(126, 217, 86);
  --cor-base-1: rgb(52, 89, 37);
  --cor-base-2: rgb(176, 223, 155);
  --cor-base-3: rgb(71, 89, 63);
  --cor-base-4: rgb(96, 166, 67);

  --color-card: #000000;

  --primary-color: rgb(4, 82, 20);
  --cor-fundo: rgb(255, 255, 255);
  --cor-fundo-subir: rgb(27, 61, 12);

  --cor-letras-w: rgb(255, 255, 255);
  --cor-letras-b: rgb(0, 0, 0);

  --font: 'Inter', sans-serif;
  --weight-text-900: 900;
  --weight-text-800: 800;
  --weight-text-700: 700;
  --weight-text-600: 600;
  --weight-text-500: 500;
  --weight-text-400: 400;
  --weight-text-300: 300;
  --weight-text-200: 200;
  --weight-text-100: 100;

  --margin-base: 10rem;

  --zoom: 80%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: var(--weight-text-200);
}

body {
  scroll-behavior: smooth;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-items: center;
  /*min-height: 100vh; */
  margin-top: 4rem;
  font-family: var(--font);
}

#corpo_index {
  min-height: 75vh;
}

section, footer {
  padding: 5rem var(--margin-base) 5rem var(--margin-base);
  color: var(--cor-letras-b);
  text-align: justify;
  zoom: var(--zoom);
}

.seta-ao-topo {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  font-size: 1.5rem;
  background-color: var(--cor-fundo-subir);
  color: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease-in-out;
}

.seta-ao-topo:hover {
  transform: scale(110%);
}

.weight_text_900 {
  font-weight: var(--weight-text-900);
}

.weight_text_800 {
  font-weight: var(--weight-text-800);
}

.weight_text_700 {
  font-weight: var(--weight-text-700);
}

.weight_text_600 {
  font-weight: var(--weight-text-600);
}

.weight_text_500 {
  font-weight: var(--weight-text-500);
}

.weight_text_400 {
  font-weight: var(--weight-text-400);
}

.weight_text_300 {
  font-weight: var(--weight-text-300);
}

.weight_text_200 {
  font-weight: var(--weight-text-200);
}

.weight_text_100 {
  font-weight: var(--weight-text-100);
}