.modal_reciclar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
  }
  
  .modal_reciclar .modal_content_reciclar {
    background-color: #fff;
    padding: 2rem;
    text-align: center;
    max-width: 80%;
    position: relative;
  }
  
  .modal_reciclar .modal_content_reciclar .modal_title_reciclar {
    margin-top: 0;
  }
  
  .modal_reciclar .modal_content_reciclar .modal_close_reciclar {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }

.card_container_reciclar {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.card_row_reciclar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.card_row_reciclar .card_reciclar {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  padding: 1rem;
  width: calc(50% - 1rem);
  text-align: center;
  margin: 1rem;
}