.card_container_reciclar {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin: 1rem -5rem 1rem -5rem;
}

.card_row_reciclar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 2rem;
}

.card_row_reciclar .card_reciclar {
  background-color: #f7f7f7;
  padding: 1rem;
  width: 50%;
  text-align: center;
}

.card_reciclar{
  position: relative;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card_reciclar h2 {
  font-weight: var(--weight-text-800);
  text-transform: uppercase;
  font-size: 1.8rem;
  white-space: wrap;
}

.card_reciclar p {
  margin: 0 1rem 2rem 1rem;
  text-align: left;
  font-weight: var(--weight-text-400);
  font-size: 1rem;
  text-align: left;
}

.card_reciclar button {
  background-color: var(--cor-base-4);
  color: var(--cor-fundo);
  padding: .5em 1rem;
  text-transform: uppercase;
  border: none;
  border-radius: 5px 15px 5px 15px;
  transition: 0.3s ease;
  width: 80%;
  height: 3rem;
  font-size: 1rem;
  font-weight: var(--weight-text-600);
  margin-bottom: 1.5rem;
  }

  .informacoes_cards_reciclar {
    position: relative;
  }

.modal_cards_reciclar
 {
  display: none;
  height: auto;
  width: 100%;
  color: var(--cor-base-1);
  background-color: rgb(236, 243, 233);
  position: relative;
  border-radius: 10px;
  border: 3px solid black;
  padding: 4rem;
  z-index: 5;
}

.modal_title_reciclar{
  font-size: 1.5rem;
  font-weight: var(--weight-text-400);
}

.modal_title_reciclar::after{
  content: "";
  position: absolute;
  margin-top: .5rem;
  height: 1px; 
  width: 3rem;
  background: var(--cor-base-1);
  display: block;
}

.modal_text_reciclar {
  font-weight: var(--weight-text-400);
}

.modal_content_reciclar p {
  font-size: 1.25rem;
}

.modal_close_reciclar{
  background-color: var(--cor-base-4);
  color: var(--cor-fundo);
  padding: 1.2rem 1.2rem;
  text-transform: uppercase;
  border: none;
  transition: background-color 0.3s ease;
  font-size: 1rem;
  font-weight: var(--weight-text-600);
  margin-top: 2rem;
  border-radius: 10px;
}

.modal_close_reciclar:hover {
  background-color: var(--cor-base-3);
}

.show_reciclar {
  display: block !important;
}

/* cards */

#txt-papel, #txt-vidro, #txt-plastico, #txt-metal, #txt-organico, #txt-pilhas-e-baterias, #txt-nao-reciclaveis, #txt-madeira  {
  font-weight: var(--weight-text-800);
}

.card_1, .card_1 button {
  --color-card: #0000ff;
  border: 3px solid var(--color-card);
  background: var(--color-card);
}

.card_1 button:hover {
  --color-card: rgb(0, 0, 173)
}

.card_2, .card_2 button{
  --color-card: #00B100;
  border: 3px solid var(--color-card);
  background: var(--color-card);
}

.card_2 button:hover {
  --color-card: #007d00;
}

.card_3, .card_3 button {
  --color-card: #ff0000;
  border: 3px solid var(--color-card);
  background: var(--color-card);
}

.card_3 button:hover {
  --color-card: #b10000;
}

.card_4, .card_4 button {
  --color-card: #B8C800;
  border: 3px solid var(--color-card);
  background: var(--color-card);
}

.card_4 button:hover {
  --color-card: #889400;
}

.card_5, .card_5 button {
  --color-card: #964B00;
  border: 3px solid var(--color-card);
  background: var(--color-card);
}

.card_5 button:hover {
  --color-card: #743a00;
}

.card_6, .card_6 button {
  --color-card: #FFA500;
  border: 3px solid var(--color-card);
  background: var(--color-card);
}

.card_6 button:hover {
  --color-card: #9a6400;
}

.card_7, .card_7 button {
  --color-card: #6E737B;
  border: 3px solid var(--color-card);
  background: var(--color-card);
}

.card_7 button:hover {
  --color-card: #4b4f54;
}

.card_8, .card_8 button {
  --color-card: #000000;
  border: 3px solid var(--color-card);
  background: var(--color-card);
}

.card_8 button:hover {
  --color-card: #5a5a5a;
}

#txt-papel, .card_1 h2 {
  color: #0000ff;
}

#txt-vidro, .card_2 h2 {
  color: #00B100;
}

#txt-plastico, .card_3 h2 {
  color: #ff0000;
}

#txt-metal, .card_4 h2 {
  color: #B8C800;
}

#txt-organico, .card_5 h2 {
  color: #964B00;
}

#txt-pilhas-e-baterias, .card_6 h2 {
  color: #FFA500;
}

#txt-nao-reciclaveis, .card_7 h2 {
  color: #6E737B;
}

#txt-madeira, .card_8 h2 {
  color: #000000;
}

/* triangulos */

.card_1::after, .card_2::after, .card_3::after, .card_4::after{
  content: "";
  position: absolute;
  width: 0; 
  height: 0; 
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  border-bottom: 4rem solid #000000;
  display: none;
  bottom: -4rem;
  left: calc(50% - 2rem);
}

.card_5::before, .card_6::before, .card_7::before, .card_8::before{
  content: "";
  position: absolute;
  width: 0; 
  height: 0; 
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  border-top: 4rem solid #000000;
  display: none;
  top: -4rem;
  left: calc(50% - 2rem);
}

.show_triangle::after{
  display: block;
}

.show_triangle::before {
  display: block;
}

.container_vocabulario_reciclar {
  background: var(--cor-base-4);
}

.titulo_vocabulario_reciclar {
  color: var(--cor-letras-w);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 2.3rem;
  font-weight: var(--weight-text-600);
  margin-bottom: 6rem;
}

.titulo_vocabulario_reciclar::before, .titulo_vocabulario_reciclar::after {
  content: '';
  display: block;
  height: 2px;
  width: 15rem;
  background: var(--cor-letras-w);
  margin: 0 4rem 0 4rem;
}

.container_box_reciclar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 6rem;
}

.box_vocabulario_reciclar {
  background: var(--cor-letras-w);
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  padding: 2rem;
  border-radius: 30px;
}

.titulo_box_reciclar h1{
  font-size: 2rem;
  font-weight: var(--weight-text-700);
}

.texto_box_reciclar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.texto_box_reciclar p{
  font-size: 1.2rem;
  font-weight: var(--weight-text-300);
  text-align: left;
}