   header {
     text-align: center;
     position: fixed;
     top: 0;
     z-index: 999;
     height: 4rem;
     width: 100%;
     display: grid;
     grid-template-columns: .2fr 1fr .5fr .25fr;
     background: rgb(250, 250, 250);
     word-wrap: none;
     white-space: nowrap;
   }

   #a-logo {
      height: 4rem;
      width: 11rem;
      background-color: var(--cor-base-3);
   }

   .logo_navbar {
     grid-column: 1 / 2;
     height: 100%;
     margin-top: 0;
     text-decoration: none;
   }

   nav {
     all: unset;
     grid-column: 3 / 4;
     display: flex;
     align-items: center;
   }

   nav ul {
     display: flex;
     align-items: center;
     list-style: none;
   }

   nav li:nth-child(2) {
     margin-left: 3em;
   }

   nav a {
     color: var(--cor-base-3);
     opacity: 1;
     position: relative;
     text-decoration: none;
     font-family: var(--font);
     text-transform: uppercase;
     cursor: pointer;
     font-weight: var(--weight-text-300);
   }

   nav a::before {
     content: '';
     display: block;
     height: 1px;
     background: var(--cor-base-3);
     position: absolute;
     top: 1.3em;
     left: 0;
     right: 0;
     transform: scale(0, 1);
     transition: transform ease-in-out 250ms;
   }

   nav a:hover::before {
     transform: scale(1, 1);
   }

   #a-doar {
     text-decoration: none;
     color: var(--color-texto-w);
     grid-column: 7 / 8;
   }

   .btn_doar_navbar {
     width: 3rem;
     height: 2rem;
     margin: 1rem 2rem 1rem 1rem;
     background-color: var(--cor-base-3);
     color: var(--cor-fundo);
     cursor: pointer;
     border: none;
     border-radius: 5px;
     /* grid-column: 7 / 8; */
   }

   .icones_redes_navbar {
     display: flex;
     justify-content: center;
     align-items: center;
   }

   .icon_face_navbar {
     margin-right: 1rem;
   }