   header {
     text-align: center;
     position: fixed;
     top: 0;
     z-index: 999;
     height: 4rem;
     width: 100%;
     display: grid;
     grid-template-columns: auto 1fr auto auto;
     background: rgb(255, 255, 255);
     word-wrap: none;
     white-space: nowrap;
   }

   #a-logo {
      height: 4em;
      width: 10rem;
      background-color: var(--cor-base-3);
   }

   .logo_navbar {
     height: 100%;
     margin-top: 0;
     text-decoration: none;
   }

   nav {
     all: unset;
     display: flex;
     align-items: center;
     height: 4rem;
   }

   nav ul {
     display: flex;
     align-items: center;
     list-style: none;
     justify-content: center;
   }

   nav li:nth-child(2) {
     margin-left: 3em;
   }

   nav a {
     color: var(--cor-base-3);
     opacity: 1;
     position: relative;
     text-decoration: none;
     font-family: var(--font);
     text-transform: uppercase;
     cursor: pointer;
     font-weight: var(--weight-text-300);
   }

   nav a::before {
     content: '';
     display: block;
     height: 1px;
     background: var(--cor-base-3);
     position: absolute;
     top: 1.3em;
     left: 0;
     right: 0;
     transform: scale(0, 1);
     transition: transform ease-in-out 250ms;
   }

   nav a:hover::before {
     transform: scale(1, 1);
   }

   #a-doar {
     text-decoration: none;
     color: var(--color-texto-w);
   }

   .container_btn_doacao {
    display: flex;
    justify-content: center;
    align-items: center;
   }

   .btn_doar_navbar {
    display: flex;
    margin: 0 2rem 0 2rem;
    background-color: var(--cor-base-3);
    color: var(--cor-fundo);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 1rem 2rem 1rem 2rem;
    font-size: 1rem;
   }

   .icones_redes_navbar {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 4rem;
   }

   .icon_face_navbar {
     margin-right: 1rem;
   }

   header::after {
    content: '';
    width: 100%;
    display: block;
    position: absolute;
    background: linear-gradient(rgba(246, 235, 235, 0.00) 50%, rgba(0, 0, 0, 0.38) 100%);
    bottom: 0;
    height: 2px;
   }