.table_horarios {
    padding: 10rem;
    background-color: #DFF2D7;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  
  .table_horarios table {
    border-collapse: collapse;
    border: 1px solid #000;
    width: calc(50% - 1rem);
    /* 2 tabelas por linha */
    margin-bottom: 2rem;
  }
  
  .table_horarios table th,
  .table_horarios table td {
    border: 1px solid #000;
    padding: 0.5rem;
    text-align: center;
  }